/Block.class
/Game.class
/GameCamera.class
/GameObject.class
/Goal.class
/Handler.class
/ID.class
/ImageLoader.class
/KeyInput.class
/Monster.class
/Player.class
/Window.class
/GuiMonster.class
/GuiPlayer.class
/InitCombat.class
/MyAction.class
/InitCombat$1.class
/AttackButton.class
